# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
build/
.next/
out/
.vercel/


# Environment
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# Testing
coverage/

# Prisma
apps/api/prisma/migrations/**/migration_lock.toml

# Docker
infra/docker/volumes/

# Misc
.turbo/
turbo/
*.tsbuildinfo

# Husky
.husky/_

